@import "../variables.less";
@import "../base.less";

.page-question-container {
    .question {
        margin-bottom: 20px;
        padding: 20px 40px;
        border: 1px solid #b5dafd;
        background-color: #f7fbff;
        color: #017cf3;
        
        span {
            font-weight: 700;
        }
    }

    h1 {
        padding: 0 40px;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        text-align: center;
        padding: 0;
    }

    li {
        width: 100%;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: @primaryBGColor;
        }
    }
}

@media (min-width: 768px) {
    .page-question-container {
        width: 600px;
        margin: auto;
    }
}